In [ ]:
from google.colab import drive
drive.mount('/content/mydrive')

Mounted at /content/mydrive

In [46]:

import pandas as pd
path = '/content/mydrive/MyDrive/superstore.csv'


df = pd.read_csv(path)
print("Schema info: \n", df.info())
print("\n Head: \n", df.head())
print("\n Shape: \n", df.shape)
print("\n Data types: \n", df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      10 non-null     object
 1   OrderDate    10 non-null     object
 2   Customer     10 non-null     object
 3   Segment      10 non-null     object
 4   Region       10 non-null     object
 5   Product      10 non-null     object
 6   Category     10 non-null     object
 7   SubCategory  10 non-null     object
 8   Quantity     10 non-null     int64
 9   UnitPrice    10 non-null     int64
 10  Discount     10 non-null     float64
 11  Profit       10 non-null     int64
dtypes: float64(1), int64(3), object(8)
memory usage: 1.1+ KB
Schema info:
 None

 Head:
    OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

 Shape:
 (10, 12)

 Data types:
 OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

In [47]:
print(df)

   OrderID   OrderDate Customer      Segment Region     Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South      Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North     Printer
2  CA-1003  2023-01-25     Amit     Consumer   East    Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West       Table
4  CA-1005  2023-02-05    Divya     Consumer  South       Phone
5  CA-1006  2023-04-10     John    Corporate  North       Chair
6  CA-1007  2023-05-15     Sara     Consumer   East         Pen
7  CA-1008  2023-06-18     Alex  Home Office  South     Monitor
8  CA-1009  2023-07-25    Meera     Consumer   West        Desk
9  CA-1010  2023-08-01    Kiran    Corporate  North  Headphones

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000
5        Furniture       Chairs         4       7000      0.10    2000
6  Office Supplies      Writing        10         50      0.05     100
7       Technology  Peripherals         2      15000      0.12    2200
8        Furniture       Tables         1      25000      0.18    -500
9       Technology  Accessories         5       3000      0.08     700

In [48]:
df.columns = df.columns.str.strip()
print(df[['Customer', 'Product', 'Profit']])

  Customer     Product  Profit
0     Ravi      Laptop    5000
1    Priya     Printer    1800
2     Amit    Notebook     150
3    Anita       Table   -1500
4    Divya       Phone    3000
5     John       Chair    2000
6     Sara         Pen     100
7     Alex     Monitor    2200
8    Meera        Desk    -500
9    Kiran  Headphones     700

In [49]:
filterd_df = df[(df.Discount == 0) & (df.Profit > 2000)]
print(filterd_df)

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

In [50]:
sorted_df =  df.sort_values(by='Profit', ascending=False)
print(sorted_df)

   OrderID   OrderDate Customer      Segment Region     Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South      Laptop
4  CA-1005  2023-02-05    Divya     Consumer  South       Phone
7  CA-1008  2023-06-18     Alex  Home Office  South     Monitor
5  CA-1006  2023-04-10     John    Corporate  North       Chair
1  CA-1002  2023-02-20    Priya    Corporate  North     Printer
9  CA-1010  2023-08-01    Kiran    Corporate  North  Headphones
2  CA-1003  2023-01-25     Amit     Consumer   East    Notebook
6  CA-1007  2023-05-15     Sara     Consumer   East         Pen
8  CA-1009  2023-07-25    Meera     Consumer   West        Desk
3  CA-1004  2023-03-01    Anita  Home Office   West       Table

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
4       Technology       Phones         2      20000      0.00    3000
7       Technology  Peripherals         2      15000      0.12    2200
5        Furniture       Chairs         4       7000      0.10    2000
1       Technology  Peripherals         2      12000      0.15    1800
9       Technology  Accessories         5       3000      0.08     700
2  Office Supplies        Paper         3        200      0.05     150
6  Office Supplies      Writing        10         50      0.05     100
8        Furniture       Tables         1      25000      0.18    -500
3        Furniture       Tables         1      18000      0.20   -1500

In [51]:
grouped_df = df.groupby('Category').agg({'Profit': 'sum', 'Discount':'mean'})
print(grouped_df)

                 Profit  Discount
Category
 Furniture         -500      0.18
Furniture           500      0.15
Office Supplies     250      0.05
Technology        12700      0.09

In [52]:
df['TotalPrice'] = df['Quantity']*df['UnitPrice']
print(df)

   OrderID   OrderDate Customer      Segment Region     Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South      Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North     Printer
2  CA-1003  2023-01-25     Amit     Consumer   East    Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West       Table
4  CA-1005  2023-02-05    Divya     Consumer  South       Phone
5  CA-1006  2023-04-10     John    Corporate  North       Chair
6  CA-1007  2023-05-15     Sara     Consumer   East         Pen
7  CA-1008  2023-06-18     Alex  Home Office  South     Monitor
8  CA-1009  2023-07-25    Meera     Consumer   West        Desk
9  CA-1010  2023-08-01    Kiran    Corporate  North  Headphones

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit  \
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000
5        Furniture       Chairs         4       7000      0.10    2000
6  Office Supplies      Writing        10         50      0.05     100
7       Technology  Peripherals         2      15000      0.12    2200
8        Furniture       Tables         1      25000      0.18    -500
9       Technology  Accessories         5       3000      0.08     700

   TotalPrice
0       55000
1       24000
2         600
3       18000
4       40000
5       28000
6         500
7       30000
8       25000
9       15000

In [54]:
df = df.drop(columns=['SubCategory'])

In [55]:
print(df)

   OrderID   OrderDate Customer      Segment Region     Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South      Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North     Printer
2  CA-1003  2023-01-25     Amit     Consumer   East    Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West       Table
4  CA-1005  2023-02-05    Divya     Consumer  South       Phone
5  CA-1006  2023-04-10     John    Corporate  North       Chair
6  CA-1007  2023-05-15     Sara     Consumer   East         Pen
7  CA-1008  2023-06-18     Alex  Home Office  South     Monitor
8  CA-1009  2023-07-25    Meera     Consumer   West        Desk
9  CA-1010  2023-08-01    Kiran    Corporate  North  Headphones

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000
5        Furniture         4       7000      0.10    2000       28000
6  Office Supplies        10         50      0.05     100         500
7       Technology         2      15000      0.12    2200       30000
8        Furniture         1      25000      0.18    -500       25000
9       Technology         5       3000      0.08     700       15000

In [56]:
df['Discount'] = df['Discount'].fillna(0.10)

In [57]:
def classify(row):
    if row['Profit'] > 4000:
        return 'High'
    elif row['Profit'] > 0:
        return 'Medium'
    else:
        return 'Low'

df['ProfitLevel'] = df.apply(classify, axis=1)
print(df)

   OrderID   OrderDate Customer      Segment Region     Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South      Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North     Printer
2  CA-1003  2023-01-25     Amit     Consumer   East    Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West       Table
4  CA-1005  2023-02-05    Divya     Consumer  South       Phone
5  CA-1006  2023-04-10     John    Corporate  North       Chair
6  CA-1007  2023-05-15     Sara     Consumer   East         Pen
7  CA-1008  2023-06-18     Alex  Home Office  South     Monitor
8  CA-1009  2023-07-25    Meera     Consumer   West        Desk
9  CA-1010  2023-08-01    Kiran    Corporate  North  Headphones

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice  \
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000
5        Furniture         4       7000      0.10    2000       28000
6  Office Supplies        10         50      0.05     100         500
7       Technology         2      15000      0.12    2200       30000
8        Furniture         1      25000      0.18    -500       25000
9       Technology         5       3000      0.08     700       15000

  ProfitLevel
0        High
1      Medium
2      Medium
3         Low
4      Medium
5      Medium
6      Medium
7      Medium
8         Low
9      Medium

In [58]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("RetailSalesAnalysis") \
        .getOrCreate()

spark

In [60]:
df = spark.read.csv(path, header=True, inferSchema=True)

In [61]:
df.printSchema()
df.show(5)

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
only showing top 5 rows

In [62]:
from pyspark.sql.functions import *
df.select(col('Customer').alias('Client')).show()

+------+
|Client|
+------+
|  Ravi|
| Priya|
|  Amit|
| Anita|
| Divya|
|  John|
|  Sara|
|  Alex|
| Meera|
| Kiran|
+------+

In [65]:
df.filter((col('Segment') == 'Consumer') & (col('Profit') < 1000)).show()

+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|2023-01-25|    Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1007|2023-05-15|    Sara|Consumer|  East|     Pen|Office Supplies|    Writing|      10|       50|    0.05|   100|
|CA-1009|2023-07-25|   Meera|Consumer|  West|    Desk|      Furniture|     Tables|       1|    25000|    0.18|  -500|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

In [67]:
df.groupBy('Region').agg(avg('Profit').alias('AverageProfit')).show()

+------+-------------+
|Region|AverageProfit|
+------+-------------+
| South|       3400.0|
|  East|        125.0|
|  West|      -1000.0|
| North|       1500.0|
+------+-------------+

In [68]:
df = df.withColumn('TotalPrice', col('Quantity')*col('UnitPrice'))
df.show()

+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+
|OrderID| OrderDate|Customer|    Segment|Region|   Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|
+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|    Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|
|CA-1002|2023-02-20|   Priya|  Corporate| North|   Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|  Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|
|CA-1004|2023-03-01|   Anita|Home Office|  West|     Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|
|CA-1005|2023-02-05|   Divya|   Consumer| South|     Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|
|CA-1006|2023-04-10|    John|  Corporate| North|     Chair|      Furniture|     Chairs|       4|     7000|     0.1|  2000|     28000|
|CA-1007|2023-05-15|    Sara|   Consumer|  East|       Pen|Office Supplies|    Writing|      10|       50|    0.05|   100|       500|
|CA-1008|2023-06-18|    Alex|Home Office| South|   Monitor|     Technology|Peripherals|       2|    15000|    0.12|  2200|     30000|
|CA-1009|2023-07-25|   Meera|   Consumer|  West|      Desk|      Furniture|     Tables|       1|    25000|    0.18|  -500|     25000|
|CA-1010|2023-08-01|   Kiran|  Corporate| North|Headphones|     Technology|Accessories|       5|     3000|    0.08|   700|     15000|
+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+

In [71]:
df = df.withColumn('ProfitLevel', when(col('Profit') > 2000, "High").when(col('Profit') <= 0, "Loss").otherwise("Medium"))
df.show()

+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+-----------+
|OrderID| OrderDate|Customer|    Segment|Region|   Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitLevel|
+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+-----------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|    Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|       High|
|CA-1002|2023-02-20|   Priya|  Corporate| North|   Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|     Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|  Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|     Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|     Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|       Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|     Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|       High|
|CA-1006|2023-04-10|    John|  Corporate| North|     Chair|      Furniture|     Chairs|       4|     7000|     0.1|  2000|     28000|     Medium|
|CA-1007|2023-05-15|    Sara|   Consumer|  East|       Pen|Office Supplies|    Writing|      10|       50|    0.05|   100|       500|     Medium|
|CA-1008|2023-06-18|    Alex|Home Office| South|   Monitor|     Technology|Peripherals|       2|    15000|    0.12|  2200|     30000|       High|
|CA-1009|2023-07-25|   Meera|   Consumer|  West|      Desk|      Furniture|     Tables|       1|    25000|    0.18|  -500|     25000|       Loss|
|CA-1010|2023-08-01|   Kiran|  Corporate| North|Headphones|     Technology|Accessories|       5|     3000|    0.08|   700|     15000|     Medium|
+-------+----------+--------+-----------+------+----------+---------------+-----------+--------+---------+--------+------+----------+-----------+

In [72]:
df = df.drop("SubCategory")
df.show()

+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+
|OrderID| OrderDate|Customer|    Segment|Region|   Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitLevel|
+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|    Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|       High|
|CA-1002|2023-02-20|   Priya|  Corporate| North|   Printer|     Technology|       2|    12000|    0.15|  1800|     24000|     Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|  Notebook|Office Supplies|       3|      200|    0.05|   150|       600|     Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|     Table|      Furniture|       1|    18000|     0.2| -1500|     18000|       Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|     Phone|     Technology|       2|    20000|     0.0|  3000|     40000|       High|
|CA-1006|2023-04-10|    John|  Corporate| North|     Chair|      Furniture|       4|     7000|     0.1|  2000|     28000|     Medium|
|CA-1007|2023-05-15|    Sara|   Consumer|  East|       Pen|Office Supplies|      10|       50|    0.05|   100|       500|     Medium|
|CA-1008|2023-06-18|    Alex|Home Office| South|   Monitor|     Technology|       2|    15000|    0.12|  2200|     30000|       High|
|CA-1009|2023-07-25|   Meera|   Consumer|  West|      Desk|      Furniture|       1|    25000|    0.18|  -500|     25000|       Loss|
|CA-1010|2023-08-01|   Kiran|  Corporate| North|Headphones|     Technology|       5|     3000|    0.08|   700|     15000|     Medium|
+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+

In [76]:
df = df.fillna({'Discount': 0.10})
df.show()

+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+
|OrderID| OrderDate|Customer|    Segment|Region|   Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitLevel|
+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|    Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|       High|
|CA-1002|2023-02-20|   Priya|  Corporate| North|   Printer|     Technology|       2|    12000|    0.15|  1800|     24000|     Medium|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|  Notebook|Office Supplies|       3|      200|    0.05|   150|       600|     Medium|
|CA-1004|2023-03-01|   Anita|Home Office|  West|     Table|      Furniture|       1|    18000|     0.2| -1500|     18000|       Loss|
|CA-1005|2023-02-05|   Divya|   Consumer| South|     Phone|     Technology|       2|    20000|     0.0|  3000|     40000|       High|
|CA-1006|2023-04-10|    John|  Corporate| North|     Chair|      Furniture|       4|     7000|     0.1|  2000|     28000|     Medium|
|CA-1007|2023-05-15|    Sara|   Consumer|  East|       Pen|Office Supplies|      10|       50|    0.05|   100|       500|     Medium|
|CA-1008|2023-06-18|    Alex|Home Office| South|   Monitor|     Technology|       2|    15000|    0.12|  2200|     30000|       High|
|CA-1009|2023-07-25|   Meera|   Consumer|  West|      Desk|      Furniture|       1|    25000|    0.18|  -500|     25000|       Loss|
|CA-1010|2023-08-01|   Kiran|  Corporate| North|Headphones|     Technology|       5|     3000|    0.08|   700|     15000|     Medium|
+-------+----------+--------+-----------+------+----------+---------------+--------+---------+--------+------+----------+-----------+

In [78]:
df = df.withColumn("OrderDate", to_date(col("OrderDate")))
df = df.withColumn("Year", year("OrderDate")).withColumn("Month", month("OrderDate"))
df.select("OrderID", "OrderDate", "Year", "Month").show()

+-------+----------+----+-----+
|OrderID| OrderDate|Year|Month|
+-------+----------+----+-----+
|CA-1001|2023-01-15|2023|    1|
|CA-1002|2023-02-20|2023|    2|
|CA-1003|2023-01-25|2023|    1|
|CA-1004|2023-03-01|2023|    3|
|CA-1005|2023-02-05|2023|    2|
|CA-1006|2023-04-10|2023|    4|
|CA-1007|2023-05-15|2023|    5|
|CA-1008|2023-06-18|2023|    6|
|CA-1009|2023-07-25|2023|    7|
|CA-1010|2023-08-01|2023|    8|
+-------+----------+----+-----+

In [80]:
import dask.dataframe as dd

df = dd.read_csv(path)

In [82]:
avg_discount = df.groupby('Category')['Discount'].mean().compute()
print(avg_discount)

Category
 Furniture         0.18
Furniture          0.15
Office Supplies    0.05
Technology         0.09
Name: Discount, dtype: float64

In [84]:
filtered_df = df[(df['Quantity'] > 1) & (df['Profit'] > 2000)]
print(filtered_df)

Dask DataFrame Structure:
              OrderID OrderDate Customer Segment  Region Product Category SubCategory Quantity UnitPrice Discount Profit
npartitions=1
               string    string   string  string  string  string   string      string    int64     int64  float64  int64
                  ...       ...      ...     ...     ...     ...      ...         ...      ...       ...      ...    ...
Dask Name: getitem, 8 expressions
Expr=Filter(frame=ArrowStringConversion(frame=FromMapProjectable(d4f6ff0)), predicate=ArrowStringConversion(frame=FromMapProjectable(d4f6ff0))['Quantity'] > 1 & ArrowStringConversion(frame=FromMapProjectable(d4f6ff0))['Profit'] > 2000)

In [85]:
filtered_df.to_csv('filtered_data.csv', index=False)
print("File saved successfully")

File saved successfully

In [86]:
path = '/content/mydrive/MyDrive/orders.json'

In [89]:
df_json = spark.read.json(path, multiLine=True)

In [90]:
df_json.printSchema()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

In [92]:
df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

+-------+----+------+
|OrderID|Name|Profit|
+-------+----+------+
|CA-1001|Ravi|  5000|
+-------+----+------+